* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

/* Header*/



#highscore {
    margin-top: 5px;
    margin-left: 40px;
    position:relative;
    top: -165px;
    background-color: none;
    
}

#timer {
    margin-top: 20px;
    padding-right: 40px;
    position: relative;
    top: -180px;
    padding-left: 40px;

}

/* Timer*/

/*Start Button*/


/*Questions*/


/*Answers*/

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

button {
    background-color: purple;
    color: white;
    border: white;
    font-size: 16px;
    margin:5px;
    padding: 5px;
    border-radius: 10px;

}

button:hover {
    color: purple;
    background-color: white;
    border: purple;
    cursor: pointer;
}

.container {

    width: 800px;
    max-width: 80%;
    background-color: violet;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 5px;
}

.btn-grid {
    display: grid;
}

.start-btn {
    justify-content: center;
    align-items: center;
}

.hide {
display: none;
}